<div class="container my-5">
    <ng-template #errors>
        <div class="text-center text-danger">{{messageError}}</div>
    </ng-template>
    <div class="card" *ngIf="categories ; else errors">
        <div class="card-header">
            <h4 class="text-center">La liste des categories</h4>
            <!-- {{searcheForm.value|json}} -->
            <div class="my-3">
                <form class="d-flex" role="search" [formGroup]="searcheForm" (ngSubmit)="seracheCategorie()">
                    <input class="form-control me-2" type="text" formControlName="motcle" placeholder="recherche une categorie ex: Electronique" aria-label="Search">
                    <button class="btn btn-outline-success"><i class="bi bi-search"></i></button>
                </form>
            </div>
        </div>
        <div class="card-body">
            <table class="table">
                <tbody>
                    <th>#</th>
                    <th>Libelle</th>
                    <th>Description</th>
                    <th>Promotion</th>
                    <th colspan="2">Actions</th>
                </tbody>
                <tbody>
                    <tr *ngFor="let categorie of categories">
                        <td>{{categorie.id}}</td>
                        <td>{{categorie.libelle}}</td>
                        <td>{{categorie.description}}</td>

                        <td>
                            <button (click)="setPromotion(categorie)" [ngClass]="categorie.promotion==true?'btn text-success':'btn text-danger'">
                                <i *ngIf="categorie.promotion==true" class="bi bi-megaphone-fill"></i>
                                <i *ngIf="categorie.promotion==false" class="bi bi-megaphone-fill"></i>
                            </button>
                        </td>

                        <td class="btn bg text-primary" (click)="editCategorie(categorie)"><i class="bi bi-pencil-square"></i></td>
                        <td class="btn bg text-danger" (click)="deleteCategorie(categorie)"><i class="bi bi-trash3-fill"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
