<div class="container-fluid mt-5">
    <div class="row margin-vertical">
        <div class="col-md-6 col-sm-12">
            <h1 class="banneer">DIEUNDE ak DJAY <br>
                MEUSSOUL YOMBE NII
            </h1>
            <p class="titre-annonce">Faites votre annonce et partagez à vos clients !</p>
        </div>
        <div class="col-md-6 col-sm-12">
            <img src="./assets/images/imgHome.png"/>
        </div>
    </div>
</div>
<app-categorie></app-categorie>
<app-footer></app-footer>